.list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
}


.filters{
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;

  width: 33%;
}
